{% extends 'LifelineEMSapp/base.html' %}
{% load static %}
{% block content %}
<div>
    <header>
        <h1>About Us</h1>
    </header>

    <section>
        <h2>Our Story</h2>
        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in ligula a mi pharetra fringilla.</h3>

        <h2>Our Mission</h2>
        <h3>Curabitur eget justo eget odio aliquet posuere in eu dolor. Nam convallis, urna sit amet cursus.</h3>

        <!-- Add more sections as needed -->

    </section>

    <footer>
        <h4>&copy; 2024 Lifeline International Institute | All Rights Reserved</h4W>
    </footer>
</body>
     
             
{% endblock content%}